body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#loading-screen {
    margin-top: 20%;
    font-size: 24px;
}

#error-screen {
    margin-top: 10%;
    font-size: 20px;
}

#photo {
    width: 960px;      /* Ширина изображения */
    height: 1280px;    /* Высота изображения */
    object-fit: cover;  /* Обрезка фото по центру */
    border-radius: 10px;  /* Скругление углов (если нужно) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Тень для эффекта */
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}